body{
background-color: #e6e6e6;
}
.clear::after {
content: "";
display: block;
clear: both;
}
.background{
background-color: white;
margin-bottom: 20px;
}
.navbar-default{
background-color: #4060a5;
color: white;
}
.navbar-brand{
padding-top: 10px;
}
.input-group {
width: 300px;
padding-top: 10px;
}
.navbar-default .navbar-nav>li>a{
color:white;
}
#page{
margin-left: 140px;
max-width:1200px;
float: left;
}
.page-header{
border:1px ridge;
width: 900px;
height:350px;
background-image: url("./12001030_1100758569944160_4575676958434776847_o.jpg");
}
.page_pic{
float: left;
margin-top: 140px;

}
.page_header_row1 {
font-size: 27px;
color: white;
margin-top: 260px;
padding-left: 200px;
}
.page_header_row2{
background-color: white;
height: 40px;
padding-left: 200px;
border-bottom: none;
}
.page_header_row2 li{
border-left: 1px ridge;
border-right: 1px ridge;
}
.page_header_row2 .nav-tabs{
border-bottom: none;
}
#page_main{
float: left;
}
.page_main_left{
float: left;
width: 350px;
}
.page_main_left_row1{
padding-left: 15px;
padding-top: 10px;
padding-bottom: 6px;
}
.page_main_left_row2{
padding-left: 15px;
padding-bottom: 5px;
}
.page_main_left_row3{
padding-top: 4px;
padding-left: 15px;
}
.page_main_left_row4{
padding-top: 4px;
padding-left: 15px;
}
.page_main_right{
margin-left: 30px;
float: left;
width: 521px;
}
.page_main_right_row1{
padding: 0px;
}
.page_main_right_row1 span{
margin-top: 14px;
margin-bottom: 14px;
padding-left: 10px;
}
.border{
border-bottom:1px ridge;
}
.page_main_right_row1 img{
padding:18px;
}
.page_main_right_row1 b{
color:gray;
}
.page_main_right_row1 button{
margin-top: 6px;
float: right;
margin-right: 10px;
margin-bottom: 10px;
}
#page_left{
position: fixed;
top: 70px;
left:1050px;
}
#page_left2{
float: right;

position: fixed;
top: 45px;
left:1230px;
}